<@charset "UTF-8";>
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  }
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  height: 6050px;
  background-image: url("../photo/HPback.png");
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
}
h1 {
  color: #333;
}
/*本文--^^↓↓*/
.home{
  margin: 0;
}
.header{
  z-index: 100;
　height: 64px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  width: 100%;
  text-align: center;
  z-index: 2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
}
.header-logo {
  font-size: 29px;
  color: white;
  float: left;
  padding: 20px 500px 20px 20px;
}
.header-list li {
  float: left;
  margin: 0 20px 5px 10px;
  padding: 0 0 15px 0;
}
.btn-shine {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn-shine:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}
.main {
  padding: 100px 80px;
}
.topbox {
  margin: 350px 0 350px 350px;
}
.hi {
  font-size: 100px;
  color: rgba(255,255,255,0.5);
  transition: all 0.5s;
}
.hi:hover {
  opacity: 1.0;
  transform: scale(1.1, 1.1);
}
.box1-gauge {
  width: 700px;
  margin-left: 50px;
  padding: 0 20px 0 0;
  background: #333;
}
.box1-gauge:active {
  transform: rotate(360deg);
  transition: 1s;
}
.box1-gauge-bar {
  background: #EE3B24;
  width: 5%;
}
.box1-text {
  margin-left: 50px;
}
.box1-text-wow {
  color: #000066;
  font-size: 20px;
}
.box2 {
  margin-top: 70px;
}
.box2-text-color {
  color: #000066;
  font-size:25px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #FF0461;
  font-size: 0.875em;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #FF367F;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #FF0461;
  font-size: 0.875em;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #FF367F;
}
input::placeholder, textarea::placeholder {
  color: #FF0461;
  font-size: 0.875em;
}
input:focus::placeholder, textarea:focus:placeholder {
  color: #FF367F;
}
input::-ms-placeholder, textarea::-ms-placeholder {
  color: #FF0461;
  font-size: 0.875em;
}
input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #FF367F;
}
/* on hover placeholder */
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #FF5192;
  font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #FF1A6F;
}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #FF5192;
  font-size: 0.875em;
}
input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #FF1A6F;
}
input:hover::placeholder, textarea:hover::placeholder {
  color: #FF5192;
  font-size: 0.875em;
}
input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #FF1A6F;
}
input:hover::placeholder, textarea:hover::placeholder {
  color: #FF5192;
  font-size: 0.875em;
}
input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #FF1A6F;
}
#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #FF69A3;

  border: solid 1px #FF82B2;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
input:hover {
  background: #FF82B2;
  color: #FF5192;
}
textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #CCCCCC;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #FF82B2;
